main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
aside{
    display: flex;
}
.fishList{
    display: flex;
    background-color: blue;
    width: 75%;
}
.fish{
    border: 2px solid black;
    width:25%;
    margin: 5px;
    padding: 0px 4px;
}
.fish-img{
    width: 50%;
}
.quotes{
    display: flex;
    background-color: orangered;
    width: 75%;
    margin-top: 10px;
}
.quote{
    border: 2px solid red;
    width:25%;
    margin: 5px;
    padding: 0px 4px;
}
.locations{
    display: flex;
    background-color: rgb(71, 241, 71);
    width: 75%;
    margin-top: 10px;
}
.location{
    border: 2px solid blue;
    width:25%;
    margin: 5px;
    padding: 0px 4px;
}
.location-img{
    width: 50%;
}
.tips{
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
}
.tip{
    border: 2px solid green;
}